<div class="form-group">
  <label for="username">Username/Email</label>
  <input [(ngModel)]="username" name="email" type="text" class="form-control" placeholder="Username/Email">
</div>
<div class="form-group">
  <label for="password">Password</label>
  <input [(ngModel)]="password" name="password" type="password" class="form-control" placeholder="Password">
</div>

<button *ngIf="!signupMode" type="button" class="btn btn-success" (click)="doLogin()">Login</button>
<button *ngIf="!signupMode" type="button" class="btn btn-success" (click)="goToSignup()">Signup</button>