<div *ngIf="inSignup">
  <div class="form-group">
    <label for="username">Username</label>
    <input [(ngModel)]="username" type="text" class="form-control" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input [(ngModel)]="email" type="email" class="form-control" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input [(ngModel)]="password" name="password" type="password" class="form-control" placeholder="Password">
  </div>
  
  <button type="button" class="btn btn-success" (click)="doSignup()">Submit</button>
  <a href="/#/login" class="btn btn-danger">Cancel</a>
</div>
<div *ngIf="signupDone">
  <h5>Would you like to complete a survey to match you with a team?</h5>
  <button type="button" class="btn btn-default" (click)="doSurvey(true)">Yes</button>
  <button type="button" class="btn btn-default" (click)="doSurvey(false)">No</button>
</div>
<div *ngIf="inSurvey">
  <survey-form [survey]="survey"></survey-form>
  <button type="button" class="btn btn-success" (click)="doSend(true)">Submit</button>
</div>